@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  background-color: #02020b;
  font-family: "Noto Sans JP";
  font-size: 0.9rem;
  line-height: 2rem;
  /* font-family: "atkinson"; */
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/noto-sans-jp.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/noto-sans-jp.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --accent: #2337ff;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --hot-pink: 219, 39, 119;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--gray));
  line-height: 1.2;
}
h1 {
  font-size: 2.8em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.9em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: rgb(var(--hot-pink));
}
a:hover {
  cursor: pointer;
  color: var(--gray-light);
}
p {
  margin: 1em 0;
}
code {
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  background-color: rgb(var(--gray-dark));
  border-radius: 4px;
}
pre {
  font-size: 1.2rem;
  padding: 0.2rem;
  background-color: black;
  border-radius: 8px;
  margin: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid rgb(var(--hot-pink));
  padding: 0 1rem;
  color: lightcoral;
}
ul {
  list-style: disc;
  padding: 1rem 2rem;
}
ol {
  padding: 1rem 2rem;
  list-style: decimal;
}
li::marker {
  color: lightcoral;
}
::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--gray-dark));
}

span.katex {
  font-size: 1.3rem;
  padding: 2rem 0rem;
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
  pre {
    font-size: 0.9rem;
    max-width: 18rem;
    overflow-x: scroll;
  }
  code {
    font-size: 0.78rem;
  }
  pre code {
    font-size: 0.8rem;
  }
  ul,
  ol {
    padding: 0.5rem 1.6rem;
  }

  span.katex {
    overflow-x: scroll;
    font-size: 1rem;
  }

  p.foot-text {
    font-size: 0.7rem;
  }
}
