---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      p {
        padding: 0;
      }
    </style>
  </head>
  <body class="leading-8 text-xl text-left break-words">
    <Header />
    <main class="text-gray-500 mt-10 md:w-1/2 mx-auto p-16 px-7">
      Hey, I'm Swagatmitra. This is my blog.
      <p
        class="absolute text-xs w-1/4 hidden md:block text-[#030307] select-none hover:text-lightGray top-1/2 left-2/3 duration-500"
      >
        Everything I write here is judged by a notoriously pedantic pair of eyes
        that talks, blinks and thinks like me. Usually hours after I post, it
        latches itself to this site in its quest for reasons that aggravate its
        cause. A cause that exists solely to decimate mine.
      </p>
      <p
        class="absolute h-0 text-xs w-1/5 hidden md:block text-[#030307] select-none hover:text-lightGray top-20 left-10 bottom-2/3 duration-500"
      >
        If you find any scattered pieces of text that seem vile, please do not
        report to the authorities.
      </p>
      <p
        class="absolute h-0 text-xs w-1/5 hidden md:block text-[#030307] select-none hover:text-lightGray left-32 bottom-1/4 duration-500"
      >
        Sometimes, I can hardly quantify the energies that impel me to board a
        craft into deep space, and never return.
      </p>
      You're welcome to wander.
      <p>
        You can find me on <a
          href="https://www.github.com/swagatmitra-b"
          target="_blank">GitHub</a
        > and
        <a href="https://www.twitter.com/swagatmitra" target="_blank">Twitter</a
        >.
      </p>
    </main>
  </body>
</html>
