name: Spell Check

on:
  push:
    paths:
      - "**/*.mdx"

jobs:
  spell-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install codespell
        run: pip install codespell

      - name: Run codespell
        run: codespell --ignore-words-list=fro,sais,discreet,covert --skip="*.html, *.astro, *.ts, *js, *.json"
